In [1]:
print("Hello World")

Hello World

In [2]:
# in python we dont have to provide data type of variable , single line comment can be written by #
# keeping in mind python is case sensitive , name and Name is different variables
name = "mark"
print(name)

mark

In [4]:
# we cannot use any special character or string value before variable while declaring variable except underscore
?name = "mark"
print(?name)

SyntaxError: invalid syntax (<ipython-input-4-5a686610d7c6>, line 2)

In [5]:
# we cannot use any special character or string value before variable while declaring variable except underscore
?name = "mark"
print(name)

Object `name = "mark"` not found.
mark

In [6]:
# we cannot use numeric value before variable while declaring
1name = "mark"
print(name)

SyntaxError: invalid syntax (<ipython-input-6-017cb8bf0044>, line 1)

In [11]:
""" we can use only underscore while declaring variable which is given below in python
 and we dont have to provide data type of variable, double or multi line comments can 
 be written by using triple delimeters that is"""
_name = "mark"
print(_name)

mark

In [12]:
# that is the correct way of declaring and in python we dont have to provide data type of variable
name = "mark"
print(name)

mark

In [21]:
a1 = 5
b = 10
c = a1 + b
print (c)

15

In [14]:
# concatenation example
first_name = "mark"
last_name = "zukerberg"
print(first_name  + last_name )

markzukerberg

In [18]:
# concatenation example
first_name = "mark"
last_name = "zukerberg"
print(first_name + " " +last_name )

mark zukerberg

In [19]:
# concatenation example
first_name = "mark"
last_name = "zukerberg"
full_name = first_name + " " +last_name
print(full_name)

mark zukerberg

In [22]:
original_number = 23
new_number = original_number + 7
print(new_number)

30

In [23]:
# python can't add string with integar
original_number = "23"
new_number = original_number + 7
print(new_number)

TypeError: can only concatenate str (not "int") to str

In [24]:
# concatenation of strings
# any value which is written under inverted comma is string
original_number = "23"
new_number = original_number + "7"
print(new_number)

237

In [25]:
# python can't subtract string with string
original_number = "23"
new_number = original_number - "7"
print(new_number)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [26]:
# python can't multiply string with string
original_number = "23"
new_number = original_number * "7"
print(new_number)

TypeError: can't multiply sequence by non-int of type 'str'

In [27]:
# python can't divide string with string
original_number = "23"
new_number = original_number / "7"
print(new_number)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [30]:
# python can  concatenate double inverted comma string with single inverted comma string
original_number = "23"
new_number = original_number + '7'
print(new_number)

237

In [31]:
"""" python cant concatenate that is +, string with integer but it can multiply string with integer and 
by aplying this, it is no of strings occur of the no of integer which is multiplied """

a = "7"
b = 3
c = a * b
print (c)

777

In [32]:
# python can only multiply string with integer but it cant concatenate , subtract aur divide string with integer
a = "7"
b = 3
c = a - b
print (c)

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [33]:
# python can only multiply string with string
a = "7"
b = "3"
c = a - b
print (c)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [40]:
# python can add , subtract ,multiply and divide integer values with float values
num = .075
new_number = num + 200
print(new_number)

0.000375

In [41]:
# python can add , subtract ,multiply and divide integer values with float values
num = .075
new_number = num - 200
print(new_number)

-199.925

In [42]:
# python can add , subtract ,multiply and divide integer values with float values
num = .075
new_number = num * 200
print(new_number)

15.0

In [43]:
# python can add , subtract ,multiply and divide integer values with float values
num = .075
new_number = num / 200
print(new_number)

0.000375

In [44]:
# global is a keyword like print and we cant use keywords as variable name
global = 3
print (global)

SyntaxError: invalid syntax (<ipython-input-44-df01322726cc>, line 2)

In [45]:
# modulus example that is remainder of division
a = 10 % 3
print (a)

1

In [46]:
a = 5
a = a + 2
print (a)

7

In [47]:
# you can add either in this way
a = 5
a += 2
print (a)

7

In [48]:
# python solve mathematical calculations in BODMAS rule as same in algebra
# as the answer of this question can be 16 or 13 but 13 is the right answer depending upon BODMAS
total = 1 + 3 * 4
print (total)

13

In [49]:
# python solve mathematical calculations in BODMAS rule as same in algebra
# as the answer of this question can be 16 or 13 but 13 is the right answer depending upon BODMAS
total = (1 + 3) * 4
print (total)

16

In [56]:
# python solve mathematical calculations in BODMAS rule as same in algebra
total = (1 + 3) * 4 / 3
print (total)

5.333333333333333

In [58]:
# python solve mathematical calculations in BODMAS rule as same in algebra
# double divide sign is use to eliminate point values in answer
total = (1 + 3) * 4 // 3
print (total)

5

In [61]:
# python can't add string with integar
print ("my number is " + 5)

TypeError: can only concatenate str (not "int") to str

In [60]:
print ("my number is " + "5")

my number is 5

In [63]:
# ** use for power
a = 3 **3
print (a)

27

In [64]:
# *** is not valid
a = 3 ***3
print (a)

SyntaxError: invalid syntax (<ipython-input-64-47a375d98411>, line 2)

In [65]:
print ("hi"*4)

hihihihi

In [68]:
print (4*'hi')

hihihihi

In [67]:
print ("hi"*4.0)

TypeError: can't multiply sequence by non-int of type 'float'

In [69]:
print ("4"*'hi')

TypeError: can't multiply sequence by non-int of type 'str'

In [70]:
# \n is used for next line
print ("you are \n welcome")

you are
 welcome

In [82]:
# example of taking input from user
x = input("Enter your age")
print ("Your age is :" + x)

Enter your age25
Your age is :25

In [93]:
# example of taking input from user
# input always take data type string as a default data type and we know that we cant concatenate string with integer
x = input("Enter your value")
y = 15
z = x + y
print ( z)

Enter your value25

TypeError: can only concatenate str (not "int") to str

In [94]:
# example of taking input from user
# input always take data type string as a default data type and we know that we cant concatenate string with integer so we 
# have to declare data type of input in case of concatenation with other than string
x = input("Enter your value")
y = 15
z = int(x) + y
print ( z)

Enter your value25
40

In [99]:
# example of taking input from user
# input always take data type string as a default data type and we know that we cant concatenate string with integer so we 
# have to declare data type of input in case of concatenation with other than string
x = int(input("Enter your value"))
y = 15
z = x + y
print ( z)

Enter your value25
40